---
# This is a fairly permissive yamllint configuration
# It will catch common YAML errors while avoiding too many false positives

extends: default

rules:
  # 150 chars should be enough, but not too restrictive
  line-length:
    max: 150
    level: warning
  
  # Don't enforce document start markers
  document-start: disable
  
  # Don't enforce document end markers
  document-end: disable
  
  # Allow some extra spaces for readability
  comments-indentation: enable
  
  # Be strict about syntax that could cause actual errors
  empty-lines: enable
  key-duplicates: enable
  trailing-spaces: enable
  
  # Be more permissive about formatting preferences
  brackets:
    level: warning
  commas:
    level: warning
  colons:
    level: warning
  
  # Allow both styles of quotes
  quoted-strings:
    required: false
    
  # Don't be too strict on indentation
  indentation:
    spaces: 2
    indent-sequences: whatever
    level: warning
